.accordion-component {
	.accordion-item-title {
		background-color: @cyan;
		border: none;
		color: @white;
		padding: 15px 15px 15px 44px;
		.transition-all-colors;

		.accordion-item-title-icon {
			color: @white;
			.transition-color;
		}

		.no-touch &:hover {
			background-color: darken(@cyan, 20%);
			color: @white;

			.accordion-item-title-icon {
				color: @white;
			}
		}

		&.visited {
			background-color: darken(@cyan, 20%);
			color: @white;

			.accordion-item-title-icon {
				color: @white;
			}

			.no-touch &:hover {
				background-color: darken(@cyan, 20%);
				color: @white;

				.accordion-item-title-icon {
					color: @white;
				}
			}
		}

		&.selected {
			background-color: @turquiose;
			color: @white;

			.accordion-item-title-icon {
				color: @white;
			}

			&.visited {
				background-color: @turquiose;

				.no-touch &:hover {
					background-color: @turquiose;
					
				}
			}
		}
	}

	.accordion-item-body {
		background-color: darken(@cyan, 20%);
		border: none;
	}

	.accordion-item-body-inner {
		color: @white;
		padding: 15px;
	}
} 
