.confidenceSlider-component {
	.confidenceSlider-scale-notch,
	.confidenceSlider-scale-background {
		background-color: @grey;
	}

	@slider-handle-size: 40px;
	.confidenceSlider-item-handle {
		background-color: darken(@white, 5%);
		box-shadow: 0 2px 2px rgba(0,0,0,0.2);
		height: @slider-handle-size;
		margin-left: -(@slider-handle-size / 2);
		top: -(@slider-handle-size / 2);
		width: @slider-handle-size;
		.transition-background-color;

		.no-touch & {
			&:hover {
				background-color: darken(@white, 20%);
			}
		}
	}

	.confidenceSlider-item-outer-bar {
		background-color: transparent;
		box-shadow: none;
	}

	.confidenceSlider-item-bar-background {
		background-color: @grey;
	}

	.confidenceSlider-item-indicator-bar {
		background-color: @pink;
	}
}
