// Loading overlay styling
// =======================

.loading {
	background-color: @white;
	position: fixed!important; // Needs to be fixed otherwise loading layout can be incorrect

	.loader-gif {
		background-image: url("assets/loader.gif");
		height: 128px;
		left: 50%;
		margin-top: -64px;
		margin-left: -64px;
		position: absolute;
		top: 50%;
		width: 128px;
	}
}
