.resources {
	.resources-filter a {
		border-bottom: 1px solid darken(@white, 20%);
		color: @white;
		.transition-all-colors;

		span {
			border: none;
			padding: 15px 0px;
		}

		&.selected {
			background-color: darken(@darkGrey, 20%);
			color: @white;
		}

		.no-touch &:hover {
			background-color: darken(@darkGrey, 20%);
			color: @white;
		}
	}
}
