.textinput-component {
	.textinput-item {
		background-color: lighten(@pink, 20%);
		border: none;
		padding: 5px 10px;
	}

	label {
		background-color: transparent;
		color: @white;
	}

	.textinput-item-prefix {
		width:20%;
	}

	.textinput-item-textbox {
		border: none;
		height: 32px;
		padding: 0px 10px;
		.transition-all-colors;

		&:focus {
			background-color: darken(@pink, 20%);
			color: @white;
		}
	}
	
	.textinput-widget {
		&.submitted {
			.textinput-item {
				background-color: @grey;
			}
		}
	}

	.textinput-correct-icon {
		color: @white;
	}

	.textinput-incorrect-icon {
		color: @white;
	}
}
